<div class= "col-xs-10 col-xs-offset-1">
  
  <h1> Hello World! </h1>
  <%= image_tag 'nyan-cat.png', class: 'my_img img-responsive' %>
  <h1><%= @meme.dankmeme %></h1>
  <h1><%= @meme.author %></h1>

</div>
