<!DOCTYPE html>
<html>
<head>
  <title>Quizzie</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <div class="my_top col-xs-6">
      Erika's World
    </div>
    <div class ="my_top col-xs-6">
      Welcome to the Party
    </div>
  </header>
  <br class="clear" />

<%= yield %>

</body>
</html>
